@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-white{
  filter: brightness(0) invert(1);
}
.dashes-icon{
  top: -20px;
  position: relative;
}
.nav-bar{
  position: absolute;
  text-align: center;
  width: 46%;
  height: 89%;
  right: 0;
  border-radius: 70%;
  top: -3%;
}
@font-face {
  font-family: "Readex-regular";
  src: url("../../public/ReadexPro-Regular.ttf");
}
@font-face {
  font-family: "Readex-medium";
  src: url("../../public/ReadexPro-Medium.ttf");
}
@font-face {
  font-family: "Readex-bold";
  src: url("../../public/ReadexPro-Bold.ttf");
}
.nav-content{
  text-align: right;
  width: 71%;
  position: relative;
  top: 25vh;
  font-size: 18px;
}